{{ define "main" -}}
<div class="row mt-10">
  <div class="col-8">
      <h1>Simplifica tu entorno de producción.</h1>
  </div>
  <div class="col align-self-center">
    <img class="responsive" src="images/char.svg" alt="character" />
  </div>
</div>
<div class="row mt-5">
  <p class="col-12">Todas las compañías de software se encuentran con los mismos problemas fundamentales al desplegar sus aplicaciones en producción. Por primera vez <mark><strong>Kubernetes</strong></mark> te ayuda a resolverlos.</p>
</div>
<div class="row mt-5">
  <div class="col-12">
    <a href="javascript:$zopim.livechat.window.show();">
      <button type="button" class="btn button btn-primary">Analizamos tu caso gratuitamente</button>
    </a>
  </p>
</div>
<div class="row mt-10">
  <div class="col-12">
    <h1>¿Porqué Kubemotion?</h1>
    <h2 class="mt-10">Enriquecemos tu entorno de producción.</h2>
    <p>La multitud de formas de desplegar aplicaciones no suelen simplificar los problemas principales que afectan a los equipos de desarrollo. Por primera vez con <mark><strong>Kubernetes</strong></mark> es sencillo manejar conceptos como <mark><em>Escalabilidad horizontal</em></mark>, <mark><em>Staging y Pre-producción</em></mark>, <mark><em>Continuous Integration</em></mark> y <mark><em>Continuous Deployment</em></mark>.</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <h2>Nos adaptamos a tu forma de trabajar.</h2>
    <p>Te ayudamos a avanzar seis meses de investigación y desarrollo en un único paso con el despliegue y formación específica in-situ en Kubernetes.</p>
    <p>También podemos gestionar íntegramente tu entorno de producción para que no sea una distracción para tu equipo.</p>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <h2>Te convertimos en experto en <strong>Kubernetes</strong>.</h2>
  </div>
</div>
{{- end }}
